/*HEADER*/
header{
    background-image: url("../img/lemon-pie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: space-between; 
    padding: 2rem;    
}

h1{
    font-weight: 100;
    font-size: 80px;
    font-family: 'Comforter', cursive;
    text-align: center;  
    padding-top: 18px;  
    color:$secondColor;     
}

header .redes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .redes a{
    margin-left: 10px;
}

header i{
    font-size: 30px;
    color:black
}

main{
    padding: 1rem;
}

.logo img{
    width: 175px; 
}