@import "variables.scss";
@import "header.scss";
@import "menu.scss";
@import "main.scss";
@import "footer.scss";
@import "mediaquerie.scss";

*{
    margin: 0;
    padding: 0;   
}

body{
    background: $mainColor;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}
































